h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
}

article{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

footer{
    text-align: center;
}


.place1,.place2,.place3{
    display: flex;
}

.place2 img, .place3 img{
    width: 800px;
    height: 448px;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media screen and (max-width: 1024px) {
    .place1,.place2,.place3{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
    }
    
    .place1 img, .place2 img, .place3 img{
        width: 200px;
        height: 200px;
    }
    
    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    h1{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 40px;
    }
    
    h3{
        font-family: 'Courier New', Courier, monospace;
        font-size: 28px;
    }
    
    article{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }

    footer{
        text-align: center;
    }


    
}