* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background:#f5f0e1;
    color: #1e3d59;
    /* font-family: 'Roboto', sans-serif; */
  }

  body > h1,p{
      font-family: 'Open Sans', 'Roboto'; 
  }

 .container.logo{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    background: #ff6e40;
 }

 .container.logo nav{
    margin-left: 300px;
}

 .container.logo h1{
     font-size: 70px;
     font-weight: bolder;
     text-shadow: 5px 5px 5px black;
 }

 .container.logo li{
     font-size: 25px;
     font-weight: bolder;
     text-shadow: 2px 2px 2px whitesmoke;
     color: cornsilk;
 }

 .container.logo ul{
     border: 2px solid black;
     border-radius: 10px;
     background: black;
 }



 .container.intro h1{
     text-align: center;
     font-size: 30px;
     text-shadow: 2px 2px 2px black;
 }

 .container.intro p{
     text-align: center;
     font-size: 20px;
 }

 .container.intro{
    background:  #ffc13b;
 }
 

  li{

      display: inline-block;
      margin: 0 20px;
  }

  caption{
      text-transform: uppercase;
      text-align: center;
      font-weight: bolder;
      font-size: 40px;
      color: #1e3d59;
  }
  .container.stock{
    background: #ff6e40;
  }
  table{
      border: 2px solid black;
      width: 100%;
  }

  th,td{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
  }

  th{
      text-transform: capitalize;
      font-size: x-large;
  }

  td:nth-child(2n+1){
    font-weight: bolder;
    font-size: 18px;
  }

  table{
      background: repeating-linear-gradient(45deg, #f5f0e1 30%, #f5f0e1 60%);
      color: #1e3d59;
  }

  .gallery{
      text-align: center;
      text-shadow: 2px 2px 2px black;
      font-size: 60px;
      background:  #ffc13b;
  }

  /* img{
      width: 300px;
      height: 300px;
  } */

  .images{
      margin-left: 100px;
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 1em;
      background: #ff6e40;
      width: 1170px;
      /* justify-items: self-end; */
  }



  .images > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img1,.img2,.img3,.img4,.img5,.img6{
      border: 5px solid burlywood;
      width: 300px;
      height: 300px;
      transition: width 2s, height 2s, transform 2s;
  }

  .images > div:hover{
      width: 400px;
      height: 400px;
      transform: rotate(-360deg);
  }

  .container.trend h1{
   font-size: 60px;
   text-shadow: 2px 2px 2px black;
   background:  #ffc13b;   
  }

  .box{
      display: flex;
      align-items: center;
  }

  .box > *{
      margin: 6px;
  }

  .box p {
      font-size: 20px;
      font-weight: bolder;
  }

  .container.trend > div{
    background: #ff6e40;
  }

  .container.market h1{
      text-align: center;
      font-size: 60px;
      text-shadow: 2px 2px 2px black;
      background:  #ffc13b; 
  }

  .container.market  > div{
    background: #ff6e40;
  }

  .top img{
      width: 300px;
      height: 300px;
  }
  .top {
      display: grid;
      grid-template-columns: repeat(3,1fr);
  }

  .top > div{
    margin: 6px;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
  }

  .top > div:hover{
      width: 400px;
      transform: scale(1.1,1.1);
      background: #000000;
      color: wheat;
      cursor: pointer;
  }

  .top p {
      font-weight: bolder;
      font-size: medium;
      line-height: 1.6;
  }

  .game1, .game2, .game3{
      width: 300px;
  }

  footer{
      text-align: center;
      background: linear-gradient(60deg,#332900,#1a1400,#000000);
  }