@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Caveat+Brush&family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


$background-color: #F5F5DC;
$navbar-color: #DEB887;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: $background-color;
    line-height: 1.4;
}

.row{
    margin:5px
}

// Navbar buttons and layout
nav{
    background-color: $navbar-color;

    .navbar-brand > img{
        width: 200px;
        height: 200px;
        border-radius: 20%;
    }
    .navbar-nav{
        padding: 1.5rem;
    }

    .nav-link{
        padding: 0.6rem;
        margin: 2rem;
        border: 1px solid slateblue;
        font-size: 20px;
        border-radius: 5%;
        width: 150px;
        background-color: black;
        color: blanchedalmond !important;
    }

    .btn{
        box-shadow: 2px 2px 2px rgb(165, 52, 52);
        background-color: maroon;
        padding: 0.6rem;
        margin: 0.5rem;
        font-size: 20px;
        border-radius: 80px 20px;
        color: rgb(216, 216, 20);
        text-shadow: 1px 1px salmon;
    }

    .nav-link:hover, .btn:hover{
        transform: scale(1.2,1.2);
    }
}

// Coffee picture with text overlap
.main{

    position: relative;
    display: inline-block;
    padding: 0.6rem;

    img {
        display: block;
    }
}

.quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;

    h1{
        color:#FF7F50;
        font-family: 'Dancing Script';
        font-size: 8vw;
        text-shadow: 5px 5px 5px black;
        font-weight: bolder;
        background: crimson;
      }

    h1:hover{
        transform: rotate3d(1,1,1,45deg);
        box-shadow: 5px 5px coral, 10px 10px brown, 15px 15px rgb(104, 47, 47);
    }
}
      
// Types of coffee(our menu)
.menu{
    h1{
    text-align: center;
    font-size: 8vw;
    font-style: italic;
    display: block;
    text-shadow: 2px 2px 2px brown;
    background: #DEB887;
    }

    
}

.container-fluid{
    margin-bottom: 10px;
}

.types,.col p {
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    font-weight: bolder;
    background: rgb(143, 143, 187);
}

// Top 3 establishments
.top {
    .head {
    text-align: center;
    font-style: italic;
    font-size: 8vw;
    display: block;
    text-shadow: 2px 2px 2px brown;
    background: #DEB887;
    }

   img{
       width: 100%;
       height: auto;
    }

    .col{background: rgb(143, 143, 187);}
}
